.breadcrumb-container {
  color: var(--bs-dark);
}

.breadcrumb-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb-item {
  display: inline-block;
}

.breadcrumb-item a {
  color: var(--bs-dark);
  text-decoration: none;
  transition: color 0.3s ease;
}

.breadcrumb-item a:hover {
  color: var(--bs-primary) !important;
}
